<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div *ngIf="appService.signedInUser">
      <h2>Header and Navbar</h2>
      <a class="logout" (click)="doLogout()">Logout</a>
  </div>
  <nav class="navbar navbar-dark bg-primary">
    <div class="nav navbar-nav">
      <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i>Landing
      </a>
      <a routerLink="/about" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      About
      </a>
      <a routerLink="/login" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Login
      </a>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
